.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  inset: 0;
}

.modal-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: max(400px);
}

.modal-box ul {
  list-style: none;
}

.modal-box li {
  margin-top: 20px;
  padding: 2px 0;
  font-size: 20px;
}

.modal-box h1 {
  border-bottom: 1px solid var(--secondary-100);
}

.button-close {
  background: red;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.button-close:hover {
  opacity: 0.5;
}

.hidden {
  display: none;
}
